@charset "utf-8";


@import url(https://fonts.googleapis.com/earlyaccess/notosanskr.css);

.notosanskr * { 
 font-family: 'Noto Sans KR', sans-serif;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #333;
    line-height: 1;
    background-color: #f48d13;
    font-family: 'Noto Sans KR';
    font-weight: 400;
    min-width: 1920px;
}

a {
    text-decoration: none;
    color: inherit;
}

li {
    list-style: none;
}

h3 {
    font-size: 80px;
}

header .inner {
    width: 1440px;
    margin: 0 auto;
    position: relative;
}

header .inner .logo_head {
    height: 100px;
    position: relative;
}

header .inner .logo_head .saerch {
    width: 660px;
    display: flex;
    justify-content: space-between;
}

header .inner .logo_head .saerch div {
    width: 400px;
    margin-top: 90px;
    border-bottom: 2px solid #000;
    position: relative;

}

header .inner .logo_head .saerch div img {
    width: 25px;
    height: 25px;
    position: absolute;
    right: 0;
}

header .inner .logo_head .saerch img {
    
    position: absolute;
    bottom: 0;
}

header .inner .logo_head ul li{
    display: inline-block;
}

header .inner .logo_head .user {
    font-size: 16px;
    position: absolute;
    top: 10px;
    right: 0;
}

header .inner .logo_head .user li span {
    margin: 0 10px;
}

header .inner .menu {
    font-size: 20px;
    text-align: center;
}

header .inner .menu li {
    display: inline-block;
    margin: 55px 30px 62px 0;
}

/* .main_visual 🎈🎈🎈 */

.main_visual {
    height: 1015px;
    overflow: hidden;
}
.main_visual figure img {
    display: block;
    object-fit: cover;

}

.main_visual .sub_logo {

    margin-top: 10px;
    border-bottom: 5px solid #000;
    border-top: 5px solid #000;
    position: relative;
}

.main_visual .sub_logo div {
    width: 1920px;
    height: 300px;
    border-bottom: 5px solid #000;
    position: absolute;
    left: 0;
    bottom: -300px;
}

.main_visual .sub_logo h2{
    font-size: 150px;
    display: inline-block;
    line-height: 300px;
}

.main_visual .sub_logo h2:nth-of-type(2) {
    margin-right: 81px;
    color: #fff;
}

.main_visual .sub_logo h2:nth-of-type(4) {
    margin-right: 81px;
    color: #fff;
}

/* 🎈🎈🎈.cont01  */



.cont01 .inner {
    width: 1440px;    
    margin: 150px auto;
    position: relative;
    
}

.cont01 .inner h3 {
    font-size: 80px;
    text-align: center;
    margin-bottom: 70px;
}

.cont01 .inner .list { 
    display: flex;
    justify-content: space-between;
}

.cont01 .inner .list .l_list,
.cont01 .inner .list .r_list {
    width: 464px;
    height: 1150px;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
}

.cont01 .inner .list .center_list {
    width: 464px;
    height: 1150px;
    position: relative;
}

.cont01 .inner .list .center_list .item {
    position: absolute;
    top: 20%;
}




.cont01 .inner .list .item {
    width: 464px;
    height: 560px;
    border: 5px solid #000;
    overflow: hidden;
    background-color: #fff;
}

.cont01 .inner .list .item figure {
    overflow: hidden;
}

.cont01 .inner .list .item figure img {
    transition: 1s;
    width: 464px;
    display: block;
    object-fit: cover;
}

.cont01 .inner .list .item:hover img {
transform: scale(1.2);

}

.cont01 .inner .list .item div {
    text-align: center;
    overflow: hidden;
}

.cont01 .inner .list .item div h4 {
    font-size: 36px;
    padding: 25px 0 18px 0;
}

.cont01 .inner .list .item div p:nth-of-type(1) {
    font-size: 17px;
    margin-bottom: 20px;
}

.cont01 .inner .list .item div p:nth-of-type(2) {
    font-size: 25px
}

/* 🎈🎈🎈cont02  */

.cont02 .inner {
    width: 1440px;
    margin: 0 auto;
    border-top: 5px solid #000;
    padding-bottom: 150px;
}

.cont02 .inner h3 {
    margin: 150px 0 70px 0;
    text-align: center;
}

.cont02 .inner .list {
    height: 1300px;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
}

.cont02 .inner .list .item {
    height: 400px;
    display: flex;
    justify-content: space-between;
}

.cont02 .inner .list .item:nth-child(2) div{
    order: -1;
    border-left: 5px solid #000;
    border-right: none;
}

.cont02 .inner .list .item img {
    width: 824px;
    border: 5px solid #000;
    object-fit: cover;
}


.cont02 .inner .list .item div {
    width: 610px;
    border-right: 5px solid #000;
}

.cont02 .inner .list .item div h5 {
    font-size: 50px;
    text-align: center;
    margin: 66px 0 60px 0;
}

.cont02 .inner .list .item div p {
    font-size: 40px;
    text-align: center;
    margin-bottom: 80px;
}

.cont02 .inner .list .item div a {
    display: inline-block;
    font-size: 30px;
    background-color: #fff;
    border: 5px solid #000;
    padding: 5px 100px;
}


/* 🎈🎈🎈footer */

footer .cont03 .inner {
    width: 1440px;
    height: 238px;
    margin: 0 auto;
    margin-top: 150px;
    border-top: 5px solid #000;
    border-bottom: 5px solid #000;
}

footer .cont03 .inner .list {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center
    
    
}

/* footer .cont03 .inner .list .item {
    display: flex;
    align-content: space-between;
    
    
} */

footer .cont03 .inner .list .item {
    width: 361px;
    height: 103px;
    margin-left:98px;
    margin-top: 70px;
    border-right: 5px solid #000;
    display: flex;
    align-content: center;
}

footer .cont03 .inner .list .item img {
    width: 103px;
    height: 103px;
    object-fit: cover;
}

footer .cont03 .inner .list .item div {
    height: 105px;
    
    
}

footer .cont03 .inner .list .item:nth-child(3) {
    border: none;
}

footer .cont03 .inner .list .item div p {
    
    padding-left: 15px;
    font-size: 25px;
    line-height: 105px;
}


/* 🎈🎈🎈 cont04 */



footer .cont04 .inner {
    width: 1440px;
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 40px;
    border-top: 5px solid #000;
   
    
}

footer .cont04 .inner .list {
    padding-top: 75px;
    display: flex;
    justify-content: left;
}


footer .cont04 .inner .list .item {
    border-right: 5px solid #000;
    padding-right: 145px;
    margin: 0 60px 50px 0;
}

/* footer .cont04 .inner .list .item:first-child {
    width: 380px;
    border-right: 5px solid #000;
} */

footer .cont04 .inner .list .item:first-child a img {
    display: inline-block;
    margin-bottom: 30px;
}

footer .cont04 .inner .list .item ul li {
    margin: 10px 0;
}

footer .cont04 .inner .list .item p {
    font-size: 15px;
}

footer .cont04 .inner .list .item h6 {
    font-size: 19px;
    margin: 30px 0;
}

footer .cont04 .inner .list .item:last-child {
    border: none;
    margin: 0;
    padding: 0;
}

footer .cont04 .inner .list .item:last-child ul {
    margin-top: 30px;
}

footer .cont04 .inner .list .item:last-child ul li {
    display: inline;
    
}

footer .cont04  .bottom {
    border-top: 5px solid #000;
    border-bottom: 5px solid #000;
    padding: 5px 0;
    margin-bottom: 20px;
}

footer .cont04  .bottom p {
    text-align: center;
}